<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title>MyCanon</title>
    <meta name="description" content="Log in or create a Canon Account to sign up for emails, register your products and get service and support — quickly and easily.">
    <script src="/us/config.js"></script>
    <script>
    (function(global) {

        var urlParams;
        (window.onpopstate = function() {
            var match,
                pl = /\+/g,
                // Regex for replacing addition symbol with a space
                search = /([^&=]+)=?([^&]*)/g,
                decode = function(s) {
                    return decodeURIComponent(s.replace(pl, " "));
                },
                query = window.location.search.substring(1);

            urlParams = {};
            while (match = search.exec(query))
                urlParams[decode(match[1])] = decode(match[2]);
        })();

        function parseUrlParam(val)
        {
            if (val && val.toLowerCase() === "true")
            {
                return true;
            } else if (val && val.toLowerCase() === "false")
            {
                return false;
            }
            return val;
        }
        function isLowerStage(stage)
        {
            if (stage)
            {
                let lowerStage = stage.toLowerCase();
                if (lowerStage === 'development' ||
                lowerStage === 'qa' ||
                lowerStage === 'staging')
                {
                    return true;
                }
            }
            return false;
        }


        var config = {
            COMMIT_HASH: isLowerStage(STAGE) && urlParams.COMMIT_HASH ? parseUrlParam(urlParams.COMMIT_HASH) : COMMIT_HASH,
            TCEPPS_URL: isLowerStage(STAGE) && urlParams.TCEPPS_URL ? parseUrlParam(urlParams.TCEPPS_URL) : TCEPPS_URL,
            GOOGLE_MAPS_API_KEY: isLowerStage(STAGE) && urlParams.GOOGLE_MAPS_API_KEY ? parseUrlParam(urlParams.GOOGLE_MAPS_API_KEY) : GOOGLE_MAPS_API_KEY,
            GOOGLE_ANALYTICS_ID: isLowerStage(STAGE) && urlParams.GOOGLE_ANALYTICS_ID ? parseUrlParam(urlParams.GOOGLE_ANALYTICS_ID) : GOOGLE_ANALYTICS_ID,
            RECAPTCHA_SITEKEY: isLowerStage(STAGE) && urlParams.RECAPTCHA_SITEKEY ? parseUrlParam(urlParams.RECAPTCHA_SITEKEY) : RECAPTCHA_SITEKEY,
            TCEPPS_PUBLIC_KEY: isLowerStage(STAGE) && urlParams.TCEPPS_PUBLIC_KEY ? parseUrlParam(urlParams.TCEPPS_PUBLIC_KEY) : TCEPPS_PUBLIC_KEY,
            STAGE: isLowerStage(STAGE) && urlParams.STAGE ? parseUrlParam(urlParams.STAGE) : STAGE,
            NODE_ENV: isLowerStage(STAGE) && urlParams.NODE_ENV ? parseUrlParam(urlParams.NODE_ENV) : NODE_ENV,
            VERSION: isLowerStage(STAGE) && urlParams.VERSION ? parseUrlParam(urlParams.VERSION) : VERSION,
            API_URL: isLowerStage(STAGE) && urlParams.API_URL ? parseUrlParam(urlParams.API_URL) : API_URL,
            MAG_ORDER_RETURN_URL: isLowerStage(STAGE) && urlParams.MAG_ORDER_RETURN_URL ? parseUrlParam(urlParams.MAG_ORDER_RETURN_URL) : MAG_ORDER_RETURN_URL,
            AEMHEADER_URL: isLowerStage(STAGE) && urlParams.AEMHEADER_URL ? parseUrlParam(urlParams.AEMHEADER_URL) : AEMHEADER_URL,
            AEMFOOTER_URL: isLowerStage(STAGE) && urlParams.AEMFOOTER_URL ? parseUrlParam(urlParams.AEMFOOTER_URL) : AEMFOOTER_URL,
            SHOP_URL: isLowerStage(STAGE) && urlParams.SHOP_URL ? parseUrlParam(urlParams.SHOP_URL) : SHOP_URL,
            MY_ORDERS_OVERRIDE_URL: isLowerStage(STAGE) && urlParams.MY_ORDERS_OVERRIDE_URL ? parseUrlParam(urlParams.MY_ORDERS_OVERRIDE_URL) : MY_ORDERS_OVERRIDE_URL,
            CPS_URL: isLowerStage(STAGE) && urlParams.CPS_URL ? parseUrlParam(urlParams.CPS_URL) : CPS_URL,
            ISUNDERWARRANTY_URL: isLowerStage(STAGE) && urlParams.ISUNDERWARRANTY_URL ? parseUrlParam(urlParams.ISUNDERWARRANTY_URL) : ISUNDERWARRANTY_URL,
            AEM_READ_MORE_CPS_URL: isLowerStage(STAGE) && urlParams.AEM_READ_MORE_CPS_URL ? parseUrlParam(urlParams.AEM_READ_MORE_CPS_URL) : AEM_READ_MORE_CPS_URL,
            AEM_LEARN_MORE_SILVER_URL: isLowerStage(STAGE) && urlParams.AEM_LEARN_MORE_SILVER_URL ? parseUrlParam(urlParams.AEM_LEARN_MORE_SILVER_URL) : AEM_LEARN_MORE_SILVER_URL,
            AEM_LEARN_MORE_GOLD_URL: isLowerStage(STAGE) && urlParams.AEM_LEARN_MORE_GOLD_URL ? parseUrlParam(urlParams.AEM_LEARN_MORE_GOLD_URL) : AEM_LEARN_MORE_GOLD_URL,
            AEM_LEARN_MORE_PLATINUM_URL: isLowerStage(STAGE) && urlParams.AEM_LEARN_MORE_PLATINUM_URL ? parseUrlParam(urlParams.AEM_LEARN_MORE_PLATINUM_URL) : AEM_LEARN_MORE_PLATINUM_URL,
            AEM_LEARN_MORE_CINEMA_URL: isLowerStage(STAGE) && urlParams.AEM_LEARN_MORE_CINEMA_URL ? parseUrlParam(urlParams.AEM_LEARN_MORE_CINEMA_URL) : AEM_LEARN_MORE_CINEMA_URL,
            AEM_VIEW_FULL_COMPARISON_URL: isLowerStage(STAGE) && urlParams.AEM_VIEW_FULL_COMPARISON_URL ? parseUrlParam(urlParams.AEM_VIEW_FULL_COMPARISON_URL) : AEM_VIEW_FULL_COMPARISON_URL,
            AEM_VIEW_ELIGIBLE_PRODUCTS_URL: isLowerStage(STAGE) && urlParams.AEM_VIEW_ELIGIBLE_PRODUCTS_URL ? parseUrlParam(urlParams.AEM_VIEW_ELIGIBLE_PRODUCTS_URL) : AEM_VIEW_ELIGIBLE_PRODUCTS_URL,
            AEM_CONTACT_CPS_URL: isLowerStage(STAGE) && urlParams.AEM_CONTACT_CPS_URL ? parseUrlParam(urlParams.AEM_CONTACT_CPS_URL) : AEM_CONTACT_CPS_URL,
            AEM_CPS_FAQS_URL: isLowerStage(STAGE) && urlParams.AEM_CPS_FAQS_URL ? parseUrlParam(urlParams.AEM_CPS_FAQS_URL) : AEM_CPS_FAQS_URL,
            AEM_DEFAULT_CONTENT_URL: isLowerStage(STAGE) && urlParams.AEM_DEFAULT_CONTENT_URL ? parseUrlParam(urlParams.AEM_DEFAULT_CONTENT_URL) : AEM_DEFAULT_CONTENT_URL,
            AEM_VIEW_SILVER_BENEFIT_URL: isLowerStage(STAGE) && urlParams.AEM_VIEW_SILVER_BENEFIT_URL ? parseUrlParam(urlParams.AEM_VIEW_SILVER_BENEFIT_URL) : AEM_VIEW_SILVER_BENEFIT_URL,
            AEM_VIEW_GOLD_BENEFIT_URL: isLowerStage(STAGE) && urlParams.AEM_VIEW_GOLD_BENEFIT_URL ? parseUrlParam(urlParams.AEM_VIEW_GOLD_BENEFIT_URL) : AEM_VIEW_GOLD_BENEFIT_URL,
            AEM_VIEW_PLATINUM_BENEFIT_URL: isLowerStage(STAGE) && urlParams.AEM_VIEW_PLATINUM_BENEFIT_URL ? parseUrlParam(urlParams.AEM_VIEW_PLATINUM_BENEFIT_URL) : AEM_VIEW_PLATINUM_BENEFIT_URL,
            AEM_VIEW_CINEMA_BENEFIT_URL: isLowerStage(STAGE) && urlParams.AEM_VIEW_CINEMA_BENEFIT_URL ? parseUrlParam(urlParams.AEM_VIEW_CINEMA_BENEFIT_URL) : AEM_VIEW_CINEMA_BENEFIT_URL,
            AEM_TERM_AND_CONDITION_SILVER_URL: isLowerStage(STAGE) && urlParams.AEM_TERM_AND_CONDITION_SILVER_URL ? parseUrlParam(urlParams.AEM_TERM_AND_CONDITION_SILVER_URL) : AEM_TERM_AND_CONDITION_SILVER_URL,
            AEM_TERM_AND_CONDITION_GOLD_URL: isLowerStage(STAGE) && urlParams.AEM_TERM_AND_CONDITION_GOLD_URL ? parseUrlParam(urlParams.AEM_TERM_AND_CONDITION_GOLD_URL) : AEM_TERM_AND_CONDITION_GOLD_URL,
            AEM_TERM_AND_CONDITION_PLATINUM_URL: isLowerStage(STAGE) && urlParams.AEM_TERM_AND_CONDITION_PLATINUM_URL ? parseUrlParam(urlParams.AEM_TERM_AND_CONDITION_PLATINUM_URL) : AEM_TERM_AND_CONDITION_PLATINUM_URL,
            AEM_TERM_AND_CONDITION_CINEMA_URL: isLowerStage(STAGE) && urlParams.AEM_TERM_AND_CONDITION_CINEMA_URL ? parseUrlParam(urlParams.AEM_TERM_AND_CONDITION_CINEMA_URL) : AEM_TERM_AND_CONDITION_CINEMA_URL,
            AEM_TERM_AND_CONDITION_AUTORENEWAL_URL: isLowerStage(STAGE) && urlParams.AEM_TERM_AND_CONDITION_AUTORENEWAL_URL ? parseUrlParam(urlParams.AEM_TERM_AND_CONDITION_AUTORENEWAL_URL) : AEM_TERM_AND_CONDITION_AUTORENEWAL_URL,
            ARS_MANAGESUBSCRIPTION_URL: isLowerStage(STAGE) && urlParams.ARS_MANAGESUBSCRIPTION_URL ? parseUrlParam(urlParams.ARS_MANAGESUBSCRIPTION_URL) : ARS_MANAGESUBSCRIPTION_URL,
            ARS_REGISTERPRINTER_URL: isLowerStage(STAGE) && urlParams.ARS_REGISTERPRINTER_URL ? parseUrlParam(urlParams.ARS_REGISTERPRINTER_URL) : ARS_REGISTERPRINTER_URL,
            PPP_REGISTERPRINTER_URL: isLowerStage(STAGE) && urlParams.PPP_REGISTERPRINTER_URL ? parseUrlParam(urlParams.PPP_REGISTERPRINTER_URL) : PPP_REGISTERPRINTER_URL,
            ARS_LEARNMORE_URL: isLowerStage(STAGE) && urlParams.ARS_LEARNMORE_URL ? parseUrlParam(urlParams.ARS_LEARNMORE_URL) : ARS_LEARNMORE_URL,
            PPP_LEARNMORE_URL: isLowerStage(STAGE) && urlParams.PPP_LEARNMORE_URL ? parseUrlParam(urlParams.PPP_LEARNMORE_URL) : PPP_LEARNMORE_URL,
            ARS_WHATIS_URL: isLowerStage(STAGE) && urlParams.ARS_WHATIS_URL ? parseUrlParam(urlParams.ARS_WHATIS_URL) : ARS_WHATIS_URL,
            PPP_WHATIS_URL: isLowerStage(STAGE) && urlParams.PPP_WHATIS_URL ? parseUrlParam(urlParams.PPP_WHATIS_URL) : PPP_WHATIS_URL,
            ARS_ACTIVATIONINST_URL: isLowerStage(STAGE) && urlParams.ARS_ACTIVATIONINST_URL ? parseUrlParam(urlParams.ARS_ACTIVATIONINST_URL) : ARS_ACTIVATIONINST_URL,
            PPP_ACTIVATIONINST_URL: isLowerStage(STAGE) && urlParams.PPP_ACTIVATIONINST_URL ? parseUrlParam(urlParams.PPP_ACTIVATIONINST_URL) : PPP_ACTIVATIONINST_URL,
            AEMDISCLAIMER_URL: isLowerStage(STAGE) && urlParams.AEMDISCLAIMER_URL ? parseUrlParam(urlParams.AEMDISCLAIMER_URL) : AEMDISCLAIMER_URL,
            ARS_ENROLLMENT_URL: isLowerStage(STAGE) && urlParams.ARS_ENROLLMENT_URL ? parseUrlParam(urlParams.ARS_ENROLLMENT_URL) : ARS_ENROLLMENT_URL,
            DISPLAY_CPS: isLowerStage(STAGE) && urlParams.DISPLAY_CPS ? parseUrlParam(urlParams.DISPLAY_CPS) : DISPLAY_CPS,
            DISPLAY_ORDERS: isLowerStage(STAGE) && urlParams.DISPLAY_ORDERS ? parseUrlParam(urlParams.DISPLAY_ORDERS) : DISPLAY_ORDERS
        };

        global.app = {
            env: config
        };
    })(window);
    </script>
    <link href="/us/assets/css/main.777e5e0d.chunk.css" rel="stylesheet">
</head>
<body>
    <!--[if lte IE 9]>
          <div style="text-align: center; margin: 20px;">
            <h2>Your Browser is Not Supported</h2>
            <p>Please upgrade to a modern browser to continue using MyCanon.</p>
          </div>
        <![endif]-->
    <div id="app"></div>
    <script src="/us/assets/js/runtime.777e5e0d.js"></script>
    <script src="/us/assets/js/vendors.core-js.777e5e0d.js"></script>
    <script src="/us/assets/js/vendors.libphonenumber-js.777e5e0d.js"></script>
    <script src="/us/assets/js/vendors.babel.777e5e0d.js"></script>
    <script src="/us/assets/js/vendors.axios.777e5e0d.js"></script>
    <script src="/us/assets/js/vendors.react-redux.777e5e0d.js"></script>
    <script src="/us/assets/js/vendors.react-router.777e5e0d.js"></script>
    <script src="/us/assets/js/vendors.es-abstract.777e5e0d.js"></script>
    <script src="/us/assets/js/vendors.connected-react-router.777e5e0d.js"></script>
    <script src="/us/assets/js/vendors.lodash-es.777e5e0d.js"></script>
    <script src="/us/assets/js/main.777e5e0d.js"></script>
</body>
</html>




<tr>
    <td>{{$associado['nome']}}</td>
    <td>{{$associado['email']}}</td>
    <td>{{$associado['telefone']}}</td>
    </tr>